/*======== LOCAL VARIABLES =========*/
$white: rgb(255, 255, 255);

/*======== LOCAL PLACEHOLDERS =========*/

/*======== MODIFIERS =========*/
.--bold-700 {
  font-weight: 700;
}
.--bold-900 {
  font-weight: 900;
}

/*======== COMPONENTS =========*/
.container {
  @media (min-width: 1560px) {
    max-width: 1800px;
  }
}

.home {
  height: 100vh;
  width: 100%;
  background: url(images/home-bg.png);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

.c-brand {
  width: 250px;
  height: auto;
}

.c-navbar {
  @extend .navbar;
  @extend .pt-5;
  @extend .pl-5;
}

.c-footer {
  @extend .pb-5;
  @extend .pl-5;
}

.i-facebook,
.i-instagram {
  font-size: 3rem;
  color: $dark-blue;
}

// SCROLLING MENU

// SIGNUP

input {
  box-sizing: border-box;
}
.master {
  width: 100vw;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.signupForm {
  width: auto;
  height: auto;
  display: inline-block;
  border-radius: 15px;
  padding: 1rem 3rem;
  text-align: center;
  font-size: 0.8rem;
  background: #fff;
  border: 1px solid $dark-blue;
}
.signupForm span {
  display: block;
  font-size: 1.5rem;
  margin: 10px 0 25px;
  color: $dark-blue;
}
.signupForm div {
  margin: 10px 0;
}
.signupForm label {
  width: 60px;
  text-align: left;
}

.signupForm input {
  width: 250px;
  height: 2rem;
  padding: 5px 10px;
  border-radius: 2px;
  border: 1px solid #ccc;
}

.signupForm button {
  width: 310px;
  line-height: 2rem;
  display: inline-block;
  background: $dark-blue;
  border: none;
  color: $white;
  border-radius: 5px;
  margin: 20px auto 10px;
}
.signupForm button:hover {
  opacity: 0.7;
}

.signupForm a {
  width: auto;
  margin: 0 auto;
  display: block;
  color: #4a74c2;
}
.signupForm a:hover {
  text-decoration: none;
  opacity: 0.7;
}
