/*======== LOCAL VARIABLES =========*/
$white: rgb(255, 255, 255);


// FONTS
@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');

/*======== LOCAL PLACEHOLDERS =========*/

/*======== MODIFIERS =========*/
.--bold-700 { font-weight: 700; }
.--bold-900 { font-weight: 900; }

/*======== COMPONENTS =========*/
.container {
  @media(min-width: 1560px) {
    max-width: 1800px;
  }  
}

body {
  font-family: 'Open Sans', sans-serif;
}

.home {
  height: 100vh;
  width: 100%;
  background: url(images/home-bg.png);
  background-repeat: no-repeat; 
  background-position: center center;
  background-size: cover;
}

.c-brand {
  width: 250px;
  height: auto;
}

.c-navbar {
  @extend .navbar;
  @extend .pt-5;
  @extend .pl-5;
}

.c-footer {
  @extend .pb-5;
  @extend .pl-5;
}

.i-facebook,
.i-instagram,
.i-twitter { 
  font-size: 3rem;
  color: $dark-blue;
}

.i-bars {
  font-size: 3rem;
}

.c-nav-link {
  @extend .nav-link;
  @extend .px-3;

  font-size: 1.5rem;
  color: $black;
  font-weight: 700;
}

.c-intro {
  height: 100vh;
  width: 50%;

  &__tit {
    font-size: 4rem;
    line-height: 5.5rem;
    font-weight: 900;
  }

  &__sub-tit {
    font-size: 2rem;
    line-height: 3rem;
    font-weight: 700;
  }
}

// SCROLLING MENU

