/***********************************
-------------------------- VARIABLES 
***********************************/

$white: rgb(255, 255, 255);
$black: rgb(0, 0, 0);
$red: rgb(236, 134, 129);
$dark-red: rgb(192, 107, 103);
$blue: rgb(52, 152, 219);
$dark-blue: rgb(34, 121, 179);
$gray: rgb(183, 183, 183);
$dark-gray: rgb(52, 58, 64);
$paper-gray: #fbfbfb;
$green: rgb(163, 204, 50);
$dark-green: rgb(123, 160, 23);   

$rose: rgb(239,131,181);
$light-gray: rgb(253,239,244);